#posts .col-md-10{
  font-size: 15px;
  height: 30px;
  padding-left: 10px;
}

#posts .col-md-2{
  font-size: 13px;
  height: 30px;
  color:#ccc;
}

#posts .big_bar{
	padding: 0px 5px 0px 5px;
	margin-left: 20px;
	margin-top: 3px;
	height: 20px;
	width: 800px;
	line-height: 20px;
  	vertical-align: middle;
}


#posts a:link {
	color:#blue;
}      /* unvisited link */
#posts a:visited {
	color:#blue;
}  /* visited link */
#posts a:hover {
	color:#blue;
}  /* mouse over link */
#posts a:active {
	color:#blue;
}  /* selected link */