#posts{
	border-radius:10px;
}

#posts .col-md-10{
  font-size: 25px;
  height: 70px;
  padding-left: 30px;
}

#posts .col-md-2{
  font-size: 16px;
  border-right: 1px solid;
  height: 70px;
  color:#FFF;
}

#posts .big_bar{
	margin-left: 20px;
	height: 70px;
	width: 800px;
	line-height: 70px;
  	vertical-align: middle;
  	background-color: #AA7BF0;
}

#posts a:link {
	color:#FFF;
}      /* unvisited link */
#posts a:visited {
	color:#FFF;
}  /* visited link */
#posts a:hover {
	color:#FFF;
}  /* mouse over link */
#posts a:active {
	color:#FFF;
}  /* selected link */