---
layout: homepage
title: WalterInSH home page
---
	<script type="text/javascript">
	    var blogData = new Array();
	    {% for post in site.posts%}
	        blogData.push({"date":"{{ post.date | date_to_string }}","title":"{{ post.title }}","time":"{{ post.date | date: "%Y-%m-%d" }}"});
	    {% endfor %}
	</script>

	<div id="posts" class="container">
		<h3>Blog Posts</h3>
		{% for post in site.posts limit:5%}
		  <div class="row big_bar"><span class="col-md-2">{{ post.date | date_to_string }}</span><span class="col-md-10"><a href="{{ post.url }}">{{ post.title }}</a></span></div>
		{% endfor %}
		</ul>
	</div>
	<div id="posts_stat" class="container">
		<svg></svg>
	</div>

